<!DOCTYPE html>
<html>
  <head>
    <title>Robocross Result</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <p class="navbar-text col-sm-2">Robo Cross Result</p>
      <div class="col-sm-8"></div>
      <p class="col-sm-1 pull-right"></p>
      <button type="button" class="btn btn-default navbar-btn col-sm-1 pull-right" id="load_results">Results</button>
    </nav>
    <form class="form-horizontal" role="form" id="robocross_run">
      <div class="form-group">
        <label class="col-sm-2 control-label">Robot Ending Zone</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary active"><input type="radio" name="robot_zone" id="robot_zone" value=0 />A</label>
            <label class="btn btn-primary"><input type="radio" name="robot_zone" id="robot_zone" value=3 />B</label>
            <label class="btn btn-primary"><input type="radio" name="robot_zone" id="robot_zone" value=5 />C</label>
            <label class="btn btn-primary"><input type="radio" name="robot_zone" id="robot_zone" value=15 />D</label>
          </div>
        </div>
        <label id="robot_zone_label" class="col-sm-1 control-label">0</label>
      </div>
      <!--================================================================================================================-->
      <hr>
      <h4 class="text-center">Objects in Zone D</h4>
      <div class="form-group">
        <label class="col-sm-2 control-label">Legos</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label id="label_lego_zone_d_0" class="btn btn-primary active"><input type="radio" name="lego_zone_d" id="lego_zone_d" value=0 />0</label>
            <label id="label_lego_zone_d_1" class="btn btn-primary"><input type="radio" name="lego_zone_d" id="lego_zone_d" value=1 />1</label>
            <label id="label_lego_zone_d_2" class="btn btn-primary"><input type="radio" name="lego_zone_d" id="lego_zone_d" value=2 />2</label>
            <label id="label_lego_zone_d_3" class="btn btn-primary"><input type="radio" name="lego_zone_d" id="lego_zone_d" value=3 />3</label>
            <label id="label_lego_zone_d_4" class="btn btn-primary"><input type="radio" name="lego_zone_d" id="lego_zone_d" value=4 />4</label>
          </div>
        </div>
        <label id="lego_zone_d_label" class="col-sm-1 control-label ">0</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Ping Pong Balls</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label id="label_ping_zone_d_0" class="btn btn-primary active"><input type="radio" name="ping_zone_d" id="ping_zone_d" value=0 />0</label>
            <label id="label_ping_zone_d_1" class="btn btn-primary"><input type="radio" name="ping_zone_d" id="ping_zone_d" value=1 />1</label>
            <label id="label_ping_zone_d_2" class="btn btn-primary"><input type="radio" name="ping_zone_d" id="ping_zone_d" value=2 />2</label>
            <label id="label_ping_zone_d_3" class="btn btn-primary"><input type="radio" name="ping_zone_d" id="ping_zone_d" value=3 />3</label>
            <label id="label_ping_zone_d_4" class="btn btn-primary"><input type="radio" name="ping_zone_d" id="ping_zone_d" value=4 />4</label>
          </div>
        </div>
        <label id="ping_zone_d_label" class="col-sm-1 control-label ">0</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">AA Batteries</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label id="label_battery_zone_d_o" class="btn btn-primary active"><input type="radio" name="battery_zone_d" id="battery_zone_d" value=0 />0</label>
            <label id="label_battery_zone_d_1" class="btn btn-primary"><input type="radio" name="battery_zone_d" id="battery_zone_d" value=1 />1</label>
            <label id="label_battery_zone_d_2" class="btn btn-primary"><input type="radio" name="battery_zone_d" id="battery_zone_d" value=2 />2</label>
            <label id="label_battery_zone_d_3" class="btn btn-primary"><input type="radio" name="battery_zone_d" id="battery_zone_d" value=3 />3</label>
            <label id="label_battery_zone_d_4" class="btn btn-primary"><input type="radio" name="battery_zone_d" id="battery_zone_d" value=4 />4</label>
          </div>
        </div>
        <label id="battery_zone_d_label" class="col-sm-1 control-label ">0</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Tennis Ball</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label id="label_tennis_zone_d_0" class="btn btn-primary active"><input type="radio" name="tennis_zone_d" id="tennis_zone_d" value=0 />0</label>
            <label id="label_tennis_zone_d_1" class="btn btn-primary"><input type="radio" name="tennis_zone_d" id="tennis_zone_d" value=1 />1</label>
          </div>
        </div>
        <label id="tennis_zone_d_label" class="col-sm-1 control-label ">0</label>
      </div>
      <!--================================================================================================================-->
      <hr>
      <h4 class="text-center">Objects in Zone C</h4>
      <div class="form-group">
        <label class="col-sm-2 control-label">Legos</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label id="label_lego_zone_c_0" class="btn btn-primary active"><input type="radio" name="lego_zone_c" id="lego_zone_c" value=0 />0</label>
            <label id="label_lego_zone_c_1" class="btn btn-primary"><input type="radio" name="lego_zone_c" id="lego_zone_c" value=1 />1</label>
            <label id="label_lego_zone_c_2" class="btn btn-primary"><input type="radio" name="lego_zone_c" id="lego_zone_c" value=2 />2</label>
            <label id="label_lego_zone_c_3" class="btn btn-primary"><input type="radio" name="lego_zone_c" id="lego_zone_c" value=3 />3</label>
            <label id="label_lego_zone_c_4" class="btn btn-primary"><input type="radio" name="lego_zone_c" id="lego_zone_c" value=4 />4</label>
          </div>
        </div>
        <label id="lego_zone_c_label" class="col-sm-1 control-label ">0</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Ping Pong Balls</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label id="label_ping_zone_c_0" class="btn btn-primary active"><input type="radio" name="ping_zone_c" id="ping_zone_c" value=0 />0</label>
            <label id="label_ping_zone_c_1" class="btn btn-primary"><input type="radio" name="ping_zone_c" id="ping_zone_c" value=1 />1</label>
            <label id="label_ping_zone_c_2" class="btn btn-primary"><input type="radio" name="ping_zone_c" id="ping_zone_c" value=2 />2</label>
            <label id="label_ping_zone_c_3" class="btn btn-primary"><input type="radio" name="ping_zone_c" id="ping_zone_c" value=3 />3</label>
            <label id="label_ping_zone_c_4" class="btn btn-primary"><input type="radio" name="ping_zone_c" id="ping_zone_c" value=4 />4</label>
          </div>
        </div>
        <label id="ping_zone_c_label" class="col-sm-1 control-label ">0</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">AA Batteries</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label id="label_battery_zone_c_0" class="btn btn-primary active"><input type="radio" name="battery_zone_c" id="battery_zone_c" value=0 />0</label>
            <label id="label_battery_zone_c_1" class="btn btn-primary"><input type="radio" name="battery_zone_c" id="battery_zone_c" value=1 />1</label>
            <label id="label_battery_zone_c_2" class="btn btn-primary"><input type="radio" name="battery_zone_c" id="battery_zone_c" value=2 />2</label>
            <label id="label_battery_zone_c_3" class="btn btn-primary"><input type="radio" name="battery_zone_c" id="battery_zone_c" value=3 />3</label>
            <label id="label_battery_zone_c_4" class="btn btn-primary"><input type="radio" name="battery_zone_c" id="battery_zone_c" value=4 />4</label>
          </div>
        </div>
        <label id="battery_zone_c_label" class="col-sm-1 control-label ">0</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Tennis Ball</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label id="label_tennis_zone_c_0" class="btn btn-primary active"><input type="radio" name="tennis_zone_c" id="tennis_zone_c" value=0 />0</label>
            <label id="label_tennis_zone_c_1" class="btn btn-primary"><input type="radio" name="tennis_zone_c" id="tennis_zone_c" value=1 />1</label>
          </div>
        </div>
        <label id="tennis_zone_c_label" class="col-sm-1 control-label ">0</label>
      </div>
      <!--================================================================================================================-->
      <hr>
      <div class="form-group">
        <label class="col-sm-2 control-label">Milk Jug Zone</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary"><input type="radio" name="jug_zone" id="jug_zone" value="O" />Out of Bounds</label>
            <label class="btn btn-primary"><input type="radio" name="jug_zone" id="jug_zone" value="A" />A</label>
            <label class="btn btn-primary"><input type="radio" name="jug_zone" id="jug_zone" value="B" />B</label>
            <label class="btn btn-primary active"><input type="radio" name="jug_zone" id="jug_zone" value="C" />C</label>
            <label class="btn btn-primary"><input type="radio" name="jug_zone" id="jug_zone" value="D" />D</label>
          </div>
        </div>
        <label id="jug_zone_label" class="col-sm-1 control-label hidden">1</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Milk Jug Orientation</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary active"><input type="radio" name="jug_orientation" id="jug_orientation" value=2 />Side</label>
            <label class="btn btn-primary"><input type="radio" name="jug_orientation" id="jug_orientation" value=3 />Upright</label>
          </div>
        </div>
        <label id="jug_orientation_label" class="col-sm-1 control-label hidden">2</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Legos</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary active"><input type="radio" name="lego_jug_c" id="lego_jug" value=0 />0</label>
            <label class="btn btn-primary"><input type="radio" name="lego_jug" id="lego_jug" value=1 />1</label>
            <label class="btn btn-primary"><input type="radio" name="lego_jug" id="lego_jug" value=2 />2</label>
            <label class="btn btn-primary"><input type="radio" name="lego_jug" id="lego_jug" value=3 />3</label>
            <label class="btn btn-primary"><input type="radio" name="lego_jug" id="lego_jug" value=4 />4</label>
          </div>
        </div>
        <label id="lego_jug_label" class="col-sm-1 control-label hidden">0</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Ping Pong Balls</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary active"><input type="radio" name="ping_jug" id="ping_jug" value=0 />0</label>
            <label class="btn btn-primary"><input type="radio" name="ping_jug" id="ping_jug" value=1 />1</label>
            <label class="btn btn-primary"><input type="radio" name="ping_jug" id="ping_jug" value=2 />2</label>
            <label class="btn btn-primary"><input type="radio" name="ping_jug" id="ping_jug" value=3 />3</label>
            <label class="btn btn-primary"><input type="radio" name="ping_jug" id="ping_jug" value=4 />4</label>
          </div>
        </div>
        <label id="ping_jug_label" class="col-sm-1 control-label hidden">0</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">AA Batteries</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary active"><input type="radio" name="battery_jug" id="battery_jug" value=0 />0</label>
            <label class="btn btn-primary"><input type="radio" name="battery_jug" id="battery_jug" value=1 />1</label>
            <label class="btn btn-primary"><input type="radio" name="battery_jug" id="battery_jug" value=2 />2</label>
            <label class="btn btn-primary"><input type="radio" name="battery_jug" id="battery_jug" value=3 />3</label>
            <label class="btn btn-primary"><input type="radio" name="battery_jug" id="battery_jug" value=4 />4</label>
          </div>
        </div>
        <label id="battery_jug_label" class="col-sm-1 control-label hidden">0</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Tennis Ball</label>
        <div class="col-sm-8">
          <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-primary active"><input type="radio" name="tennis_jug" id="tennis_jug" value=0 />0</label>
            <label class="btn btn-primary"><input type="radio" name="tennis_jug" id="tennis_jug" value=1 />1</label>
          </div>
        </div>
        <label id="tennis_jug_label" class="col-sm-1 control-label hidden">0</label>
      </div>
      <div class="form-group">
        <label id="total_score_label" class="col-sm-10 control-label text-right">Total:</label>
        <label id="total_score" class="col-sm-1 control-label">0</label>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Operator</label>
        <div class="col-sm-2">
          <select class="form-control" name="operator_1">
            <option>Jackson Bielinski</option>
            <option>Luke Conrad</option>
            <option>Kamrin Gustave</option>
            <option>Braydon Hughes</option>
            <option>Samuel James</option>
            <option>Kyle Judge</option>
            <option>Dante Komater</option>
            <option>Jonathan Markese</option>
            <option>Jared Parks</option>
            <option>Hayden Pfeifer</option>
            <option>Zack Reese</option>
          </select>
        </div>
        <label class="col-sm-1 control-label">Spotter</label>
        <div class="col-sm-2">
          <select class="form-control" name="operator_2">
            <option>Jackson Bielinski</option>
            <option>Luke Conrad</option>
            <option>Kamrin Gustave</option>
            <option>Braydon Hughes</option>
            <option>Samuel James</option>
            <option>Kyle Judge</option>
            <option>Dante Komater</option>
            <option>Jonathan Markese</option>
            <option>Jared Parks</option>
            <option>Hayden Pfeifer</option>
            <option>Zack Reese</option>
          </select>
        </div>
        <label class="col-sm-1 control-label">Time</label>
        <div class="col-sm-2">
          <!--<input data-format="dd/MM/yyyy hh:mm:ss" type="text">-->
          <input type="time" class="form-control" placeholder="3:00" name="time">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>

    </form>

    <script src="static/lib/jquery/jquery-2.0.3.min.js"></script>
    <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/index.js"></script>

  </body>
</html>

